# Pycharm
.idea/
.ipynb_checkpoints/

# Vimg

*~
*.swp
*.swo


env_*

# Basics
*.pyc
__pycache__
# *.ipynb

# Eclipse
.project
.pydevproject
android_jars/
.venv/
venv
.coverage
ipython/

*.DS_Store
media/

mysite.log
db.sqlite3
*.ipynb

*.fuse*
virtual_environment/

# Build Folders
*/build/*

# Docs Folders
docs/*

dist/
*.egg-info

doc_html/

venv/

utils/google_sheets_credentials.json

ib_tasks/utils/workflow-types-4f1e079f438e.json
ib_tasks/utils/ib-worksflows-dev-testing-d86743f0ecd1.json

env

vedavidhbudimuri_ib-workflows-backend.aes
/venv/

.gitignore
env_*.sh


venv/